*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper{
    height: 100vh;
    margin-top: 125px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideBar label{
    font-size: 28px;
    max-width: 500px;
}

.sideBar input{
    display: block;
    margin: 15px 0;
    border: none;
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
}

.sideBar button{
    width: 100%;
    padding: 8px 0;
}

.sideBar form{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding: 30px;
    border-radius: 5px;
    min-width: 400px;
}

.sideBar form *{
    display: block;
    margin: 15px 0;
}

.sideBar input{
    display: block;
    margin: 15px 0;
    border: none;
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
}

.sideBar h1{
    background-color:#0d6efd;
    text-align: center;
}
