<div class="category-container">
    <link rel="stylesheet" href="../SCSS/category.css" scoped>
    <div class="card" style="width: 18rem;">
        <div class="img-container">
            <img class="card-img-top"
                src="https://vcdn-vnexpress.vnecdn.net/2015/07/11/fruit-image-7365-1436585539.jpg"
                alt="Fruits-img">
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-title">Fruits</h5>
                <p class="card-text">In botany, a fruit is the seed-bearing structure in flowering plants that is formed from the ovary after flowering.
                </p>
            </div>
            <div>
                <button href="#" class="btn btn-primary" id="fruits-category-btn">Go shopping</button>

            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="img-container">
            <img class="card-img-top"
                src="https://bit.ly/3m4lsFW"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-title">Nuts</h5>
                <p class="card-text">A nut is a fruit consisting of a hard or tough nutshell protecting a kernel which is usually edible. </p>
            </div>
            <div>
                <button href="#" class="btn btn-primary" id="nuts-category-btn">Go shopping</button>

            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="img-container">
            <img class="card-img-top"
                src="https://bit.ly/3iLifZR"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-title">Exotic</h5>
                <p class="card-text">Exotic fruits are that which are not native and that are cultivated outside, available at their place of origin.
</p>
            </div>
            <div>
                <button href="#" class="btn btn-primary" id="exotic-category-btn">Go shopping</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="img-container">
            <img class="card-img-top"
                src="https://bit.ly/3iRBBMZ"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-title">Dried</h5>
                <p class="card-text">Dried fruit is fruit from which the majority of the original water content has been removed either naturally, through
                sun drying,...</p>
            </div>
            <div>
                <button href="#" class="btn btn-primary" id="dried-category-btn">Go shopping</button>

            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="img-container">
            <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/1_pk4W250kO2Jm5SW57ZO9hRafh9qqOeWZaAu706nlP-ay_w7QtV90qPT8eMHgqaUqmWWX5UHXdEbWi-7Bj1y0oVnUMy3jsE-SzUoHQeKCMmDBeMb4g"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-title">Fresh</h5>
                <p class="card-text">Fresh produce means fruits and vegetables that have not been processed in any manner.</p>
            </div>
            <div>
                <button href="#" class="btn btn-primary" id="fresh-category-btn">Go shopping</button>

            </div>
        </div>
    </div>
</div>