<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<div class="container">
    
    <h1 style="color: black;">FORGOT PASSWORD</h1>
    <form action="" onsubmit="return false">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-to-reset" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary" id="reset-password-btn">Reset</button>
    </form>
</div>