<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
<div class="container">
    <h1>LOGIN</h1>
    <form action="" onsubmit="return false">
        <div class="form-group">
            <label for="loginEmail">Email address</label>
            <input type="text"  id="loginEmail" class="form-control" placeholder="Type email" autocomplete="on">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Password" autocomplete="on">
        </div>
        <button type="submit" id="btnLogin" class="btn btn-primary">Log In</button>
        <button type="submit" id="Fg-password-btn" class="btn btn-primary">Forgot Password?</button>
    </form>
</div>