<body>
    <link rel="stylesheet" href="../SCSS/support.css">
    <div>
        <h1>Hello. What can we help you?</h1>
        <h2>Frequently Asked Questions</h2>
        <a href="./support_list1.html">How to buy fruit?</a>
        <a href="./support_list2.html">How to log in while forgot password?</a>
        <a href="./support_list3.html">How can I change my password?</a>
        <a href="./support_list4.html">How can I buy my favorite fruit</a>
        <a href="./support_list5.html">How can I have more information about the web</a>
    </div>
</body>