<body>
    <link rel="stylesheet" href="../SCSS/support.css">
    <h1>How to buy fruit?</h1>
    <p>In our web, there are 2 ways to buy a product/products</p>
    <p>1. Add to cart</p>
    <p>This way requires users to buy more than one fruit. After user buy a fruit, there is a cart next to search bar. In that cart, everything user bought had been added.</p>
    <h2>Instruction</h2>
    <img src="" alt="">
    <img src="" alt="">
    <p>2. Buy now</p>
    <p>This way just requires users to buy one fruit. This way user can directly buy a fruit then deliver to your home.</p>
    <h2>Instruction</h2>
    <img src="" alt="">
    <img src="" alt="">
</body>